<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WasmDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="styling-demo">
                <span aria-hidden="true"></span> Styling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="annotations-demo">
                <span aria-hidden="true"></span> Annotations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="axis-demo">
                <span aria-hidden="true"></span> Axes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line-series-demo">
                <span aria-hidden="true"></span> Line Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line-series-demo2">
                <span aria-hidden="true"></span> Line Series 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line-series-hittest-demo">
                <span aria-hidden="true"></span> Line Series Hit Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line-series-realtime-demo">
                <span aria-hidden="true"></span> Line Series Realtime
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scatter-series-demo">
                <span aria-hidden="true"></span> Scatter Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="band-series-demo">
                <span aria-hidden="true"></span> Band Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bubble-series-demo">
                <span aria-hidden="true"></span> Bubble Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="column-series-demo">
                <span aria-hidden="true"></span> Column Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mountain-series-demo">
                <span aria-hidden="true"></span> Mountain Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uniform-heatmap-series-demo">
                <span aria-hidden="true"></span> Uniform Heatmap
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="non-uniform-heatmap-series-demo">
                <span aria-hidden="true"></span> Non-Uniform Heatmap
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uniform-contours-series-demo">
                <span aria-hidden="true"></span> Uniform Contours
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candlestick-series-demo">
                <span aria-hidden="true"></span> Candlestick Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ohlc-series-demo">
                <span aria-hidden="true"></span> OHLC Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="errorbars-series-demo">
                <span aria-hidden="true"></span> Error Bars Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="boxplot-series-demo">
                <span aria-hidden="true"></span> Box Plot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="impulse-series-demo">
                <span aria-hidden="true"></span> Impulse Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linesegment-xy-demo">
                <span aria-hidden="true"></span> Line Segment XY
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linesegment-xyxy-demo">
                <span aria-hidden="true"></span> Line Segment XYXY
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rectangle-series-demo">
                <span aria-hidden="true"></span> Rectangle Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="text-series-demo">
                <span aria-hidden="true"></span> Text Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="triangle-series-demo">
                <span aria-hidden="true"></span> Triangle Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stacked-mountain-demo">
                <span aria-hidden="true"></span> Stacked Mountain
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="smooth-stacked-mountain-demo">
                <span aria-hidden="true"></span> Smooth Stacked Mountain
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="horizontally-stacked-column-demo">
                <span aria-hidden="true"></span> Stacked Column (hor)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vertically-stacked-column-demo">
                <span aria-hidden="true"></span> Stacked Column (vert)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
