@page "/linesegment-xy-demo"
@rendermode InteractiveWebAssembly

<PageTitle>Line Segment Series Chart (XY)</PageTitle>
<h1>Line Segment Series Chart (XY)</h1>

<p>This page demonstrates line segment series using XyDataSeries with sequential point pairs.</p>

<div style="display: flex">
    <div id="demo" style="width: 600px;">
        <SciChartSurface HeightAspect="2" WidthAspect="3">
            <XAxes>
                <NumericAxis VisibleRange="@(new NumberRange { Min = 0, Max = 13 })" />
            </XAxes>
            <YAxes>
                <NumericAxis />
            </YAxes>
            <FastLineSegmentRenderableSeries
                Id="linesegment1"
                Stroke="#E91E63"
                StrokeThickness="2"
                SeriesName="Line Segments">
                <XyDataSeries
                    @ref="_xyDataSeriesLineSegmentRef"
                    XValues="@xData"
                    YValues="@yData" />
            </FastLineSegmentRenderableSeries>
            <MouseWheelZoomModifier />
            <ZoomPanModifier />
        </SciChartSurface>
    </div>
    <div>
        <button type="button" class="btn btn-secondary mt-2 ms-2" @onclick="AppendData">
            Append Data
        </button>
        <br />
        <button type="button" class="btn btn-secondary mt-2 ms-2" @onclick="AppendDataByPointer">
            Append Data By Pointer
        </button>
    </div>
</div>
